<div class="row">
    <div class="columns nine">
        <h4>Customer / <b>{{ customer.name }}</b></h4>
    </div>

    <div class="columns three">
        <button class="button-primary u-full-width" (click)="update()">Save</button>

    </div>

</div>

<div class="row">
    <form [formGroup]="customerForm">
        <div class="row">
            <div class="columns six">
                <label for="first-name">First Name: </label>
                <input class="u-full-width" id="first-name" type="text" formControlName="firstName">
            </div>

            <div class="columns six">
                <label for="last-name">Last Name: </label>
                <input class="u-full-width" id="last-name" type="text" formControlName="lastName">
            </div>
        </div>
        <div class="row">
            <div class="columns six">
                <label for="email">Email: </label>
                <input class="u-full-width" id="email" type="text" formControlName="email">       
            </div>

            <div class="columns six">
                <label for="phone">Phone: </label>
                <input class="u-full-width" id="phone" type="text" formControlName="phone">
            </div>
        </div>
    </form>

</div>

<hr>
<div class="row">

        <div class="columns nine">
            <h5>Addresses</h5>
        </div>
    
        <div class="columns three">
            <button class="u-full-width" (click)="newAddress()">New address</button>
    
        </div>
</div>

<div class="row">
    <table class="u-full-width">
        <thead>
            <th>
                Address Line 1
            </th>
            <th>
                Address Line 2
            </th>
            <th>
                Actions
            </th>
        </thead>
        <tbody>
            @for (a of addresses; track a.id) {
                <tr>
    
                    <td>
                        {{ a.firstLine }}
                    </td>

                    <td>
                        {{ a.secondLine }}
                    </td>
                    <td>
                        <button class="button-danger u-pull-right" (click)="deleteAddress(a.id)">Delete</button>
                    </td>
                </tr>
                }
        </tbody>
    </table>

</div>