<div class="row">
    <div class="columns nine">
        <h4>New Customer</h4>
    </div>

    <div class="columns three">
    </div>

</div>

<div class="row">
    <form [formGroup]="customerForm">
        <div class="row">
            <div class="columns six">
                <label for="first-name">First Name: </label>
                <input class="u-full-width" id="first-name" type="text" formControlName="firstName">
            </div>

            <div class="columns six">
                <label for="last-name">Last Name: </label>
                <input class="u-full-width" id="last-name" type="text" formControlName="lastName">
            </div>
        </div>
        <div class="row">
            <div class="columns six">
                <label for="email">Email: </label>
                <input class="u-full-width" id="email" type="text" formControlName="email">       
            </div>

            <div class="columns six">
                <label for="phone">Phone: </label>
                <input class="u-full-width" id="phone" type="text" formControlName="phone">
            </div>
        </div>
    </form>
    <button class="button-primary u-full-width" (click)="save()">Save</button>

</div>