<div class="row">
    <div class="columns three">
        <h4>Customers</h4>
    </div>
    <div class="columns nine">
        <input class="u-pull-right " type="search" [(ngModel)]="search" />
    </div>
</div>
<div class="row">
    <button class="button-primary" (click)="goToForm()">Create new</button>
</div>
<div class="row">
    <table class="u-full-width">
        <thead>
            <th>Name</th>
            <th>Actions</th>
        </thead>
        <tbody>
            @for (c of customers; track c.id) {
            <tr>

                <td>
                    {{ c.name }}
                </td>
                <td>
                    <button (click)="goToDetail(c.id)">More details</button>
                </td>
            </tr>
            }


    </table>

</div>