<div class="row">
    <div class="columns nine">
        <h4>New Address</h4>
    </div>

    <div class="columns three">
    </div>

</div>

<div class="row">
    <form [formGroup]="addressForm">
        <div class="row">
            <div class="columns twelve">
                <label for="first-line">First Line: </label>
                <input class="u-full-width" id="first-line" type="text" formControlName="firstLine">
                <span class="text-danger" *ngIf="hasError('firstLine')"> First Line is required </span>

            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label for="second-line">Second Line: </label>
                <input class="u-full-width" id="second-line" type="text" formControlName="secondLine">
            </div>
        </div>
    </form>
    <button class="button-primary u-full-width" (click)="save()">Save</button>

</div>